@model IEnumerable<CloudStorage.Models.User>
@{
    ViewBag.Title = "Список пользователей";
}

<a asp-action="Create">Добавить пользователя</a>

<table class="table">
    <tr><th>Аватар</th><th>Id</th><th>Имя</th><th>Email</th><th>Год</th><th></th></tr>
    @foreach (var user in Model)
    {
<tr>
    <td>
        @if (user.UserPic != null)
        {
            <img style='width:60px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(user.UserPic))" />
        }
        else
        {
            <img style='width:60px; height:60px;' src="~/Assets/userpic_default.png" />
        }
    </td>
    <td>@user.Id</td>
    <td>@user.Name</td>
    <td>@user.Email</td>
    <td>@user.Year</td>
    <td>
        <form asp-action="Delete" asp-route-id="@user.Id" method="post">
            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
            <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
            <button type="submit" class="btn btn-sm btn-danger">
                Удалить
            </button>
        </form>
    </td>
</tr>
    }
</table>